[Unit]
Description=etc resolv.conf Watcher
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart postfix

[Install]
WantedBy=multi-user.target
